#include "farversion.hpp"

#define PLUGIN_BUILD 9
#define PLUGIN_DESC "Text case conversion for FAR Manager"
#define PLUGIN_NAME "EditCase"
#define PLUGIN_FILENAME "EditCase.dll"

genericpluginrc(PLUGIN_BUILD, PLUGIN_DESC, PLUGIN_NAME, PLUGIN_FILENAME)
