#define VERSIONINFO_1   1

VERSIONINFO_1 VERSIONINFO
FILEVERSION 1, 1, 3, 0
PRODUCTVERSION 1, 7, 0, 0
FILEOS 4
FILETYPE 2 {
 BLOCK "StringFileInfo" {
  BLOCK "000004E4" {
   VALUE "CompanyName",      "Mag`n`Gla\000\000"
   VALUE "FileDescription",  "Exception logger library\000"
   VALUE "InternalName",     "ExcDump\000"
   VALUE "LegalCopyright",   "Copyright © Jouri Mamaev\000\000"
   VALUE "OriginalFilename", "ExcDump.dll\000"
   VALUE "ProductVersion",   "1.7\000\000"
   VALUE "FileVersion",      "build 12.01.2009\000\000"
   VALUE "Comments",         "Developer: JouriM<at>uran.ru\000\000"
  }
 }
 BLOCK "VarFileInfo" {
  VALUE "Translation", 0, 0x4e4
 }
}
