#include "farversion.hpp"

#define PLUGIN_BUILD 3
#define PLUGIN_DESC "Hello World Plugin for FAR Manager"
#define PLUGIN_NAME "HelloWorld"
#define PLUGIN_FILENAME "HelloWorld.dll"

genericpluginrc(PLUGIN_BUILD, PLUGIN_DESC, PLUGIN_NAME, PLUGIN_FILENAME)
