#include <winresrc.h>

#pragma code_page(65001)

#define PLUGIN_BUILD <(VER_BUILD)>
#define PLUGIN_DESC "<(NAME)> for Far Manager"
#define PLUGIN_NAME "<(NAME)>"
#define PLUGIN_FILENAME "<(NAME)>.dll"
#define PLUGIN_COPYRIGHT_INITIAL
#define PLUGIN_COPYRIGHT_CURRENT_FROM 2010

#include <plugin_version.rc>
