#include "farversion.hpp"

#define PLUGIN_BUILD 27
#define PLUGIN_DESC "Advanced File Compare for FAR Manager"
#define PLUGIN_NAME "Compare"
#define PLUGIN_FILENAME "Compare.dll"

genericpluginrc(PLUGIN_BUILD, PLUGIN_DESC, PLUGIN_NAME, PLUGIN_FILENAME)
