#include "farversion.hpp"

#define PLUGIN_BUILD 7
#define PLUGIN_DESC "Auto wrap for FAR Manager"
#define PLUGIN_NAME "AutoWrap"
#define PLUGIN_FILENAME "AutoWrap.dll"

genericpluginrc(PLUGIN_BUILD, PLUGIN_DESC, PLUGIN_NAME, PLUGIN_FILENAME)
