#pragma code_page(65001)

#include "multiarcversion.hpp"

#define PLUGIN_BUILD 17
#define PLUGIN_DESC FMTDESCRIPTION
#define PLUGIN_NAME "ace"
#define PLUGIN_FILENAME "ace.fmt"

#include <plugin_version.rc>
