#pragma code_page(65001)

#include "multiarcversion.hpp"

#define PLUGIN_BUILD 21
#define PLUGIN_DESC FMTDESCRIPTION
#define PLUGIN_NAME "cab"
#define PLUGIN_FILENAME "cab.fmt"

#include <plugin_version.rc>
