#pragma code_page(65001)

#include "multiarcversion.hpp"

#define PLUGIN_BUILD 24
#define PLUGIN_DESC FMTDESCRIPTION
#define PLUGIN_NAME "custom"
#define PLUGIN_FILENAME "custom.fmt"

#include <plugin_version.rc>
