#include "multiarcversion.hpp"

#define PLUGIN_BUILD MA_BUILD
#define PLUGIN_DESC "Archive support plugin for FAR Manager"
#define PLUGIN_NAME "MultiArc"
#define PLUGIN_FILENAME "MultiArc.dll"

genericpluginrc(FAR_MAJOR_VER, FAR_MINOR_VER, PLUGIN_BUILD, PLUGIN_DESC, PLUGIN_NAME, PLUGIN_FILENAME)
