#include "multiarcversion.hpp"
#include <windows.h>
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
1 VERSIONINFO
FILEVERSION MA_MAJOR_VER, MA_MINOR_VER, 0, MA_BUILD
PRODUCTVERSION FAR_MAJOR_VER, FAR_MINOR_VER, 0, FAR_BUILD
FILEOS 4
FILEFLAGS 0
FILETYPE 2
FILESUBTYPE 0
{
 BLOCK "StringFileInfo"
 {
  BLOCK "000004E4"
  {
   VALUE "CompanyName", FARCOMPANYNAME
   VALUE "FileDescription", "Archive support plugin for FAR Manager\000\000"
   VALUE "FileVersion", MAPRODUCTVERSION
   VALUE "InternalName", "MultiArc\000\000"
   VALUE "LegalCopyright", FARCOPYRIGHT
   VALUE "OriginalFilename", "MULTIARC.DLL\000\000"
   VALUE "ProductName", FARPRODUCTNAME
   VALUE "ProductVersion", FARPRODUCTVERSION
  }
 }
 BLOCK "VarFileInfo"
 {
   VALUE "Translation", 0x0, 1252
 }
}
