#pragma code_page(65001)

#include "multiarcversion.hpp"

#define PLUGIN_MAJOR 1
#define PLUGIN_MINOR 30
#define PLUGIN_NAME "rar"
#define PLUGIN_FILENAME "rar.fmt"

magenericpluginrc(PLUGIN_MAJOR, PLUGIN_MINOR, PLUGIN_NAME, PLUGIN_FILENAME)
