#pragma code_page(65001)

#include "multiarcversion.hpp"

#define PLUGIN_MAJOR 1
#define PLUGIN_MINOR 33
#define PLUGIN_NAME "zip"
#define PLUGIN_FILENAME "zip.fmt"

magenericpluginrc(PLUGIN_MAJOR, PLUGIN_MINOR, PLUGIN_NAME, PLUGIN_FILENAME)
