#include "farversion.hpp"
#define VERSIONINFO_1   1
VERSIONINFO_1 VERSIONINFO

FILEVERSION    FAR_MAJOR_VER, FAR_MINOR_VER, 0, 17
PRODUCTVERSION FAR_MAJOR_VER, FAR_MINOR_VER, 0, FAR_BUILD
FILEFLAGSMASK  0x0
FILEFLAGS      0x0
FILEOS         4
FILETYPE       2
FILESUBTYPE    0x0
{
  BLOCK "StringFileInfo"
  {
    BLOCK "000004E4"
    {
      VALUE "CompanyName", FARCOMPANYNAME
      VALUE "FileDescription",   "Hlf-file Viewer for FAR Manager\0"
#ifndef UNICODE
      VALUE "FileVersion",       "1.71 build 17\0"
#else
      VALUE "FileVersion",       "1.80 build 17\0"
#endif
      VALUE "InternalName",      "HlfViewer\0"
      VALUE "LegalCopyright", FARCOPYRIGHT
      VALUE "OriginalFilename",  "HlfViewer.dll\0"
      VALUE "ProductName", FARPRODUCTNAME
      VALUE "ProductVersion", FARPRODUCTVERSION
    }
  }
  BLOCK "VarFileInfo"
  {
     VALUE "Translation", 0, 0x4e4
  }
}
