#include "farversion.hpp"

#define PLUGIN_BUILD 18
#define PLUGIN_DESC "Hlf-file Viewer for FAR Manager"
#define PLUGIN_NAME "HlfViewer"
#define PLUGIN_FILENAME "HlfViewer.dll"

genericpluginrc(FAR_MAJOR_VER, FAR_MINOR_VER, PLUGIN_BUILD, PLUGIN_DESC, PLUGIN_NAME, PLUGIN_FILENAME)
