#include "farversion.hpp"

#define PLUGIN_BUILD 31
#define PLUGIN_DESC "Temp Panel for FAR Manager"
#define PLUGIN_NAME "TmpPanel"
#define PLUGIN_FILENAME "TmpPanel.dll"

genericpluginrc(FAR_MAJOR_VER, FAR_MINOR_VER, PLUGIN_BUILD, PLUGIN_DESC, PLUGIN_NAME, PLUGIN_FILENAME)
