#include "farversion.hpp"

#define PLUGIN_BUILD 74
#define PLUGIN_DESC "Temp Panel for FAR Manager"
#define PLUGIN_NAME "TmpPanel"
#define PLUGIN_FILENAME "TmpPanel.dll"

genericpluginrc(PLUGIN_BUILD, PLUGIN_DESC, PLUGIN_NAME, PLUGIN_FILENAME)
