#define VERSIONINFO_1   1

VERSIONINFO_1 VERSIONINFO
FILEVERSION 1, 7, 0, 32
PRODUCTVERSION 1, 70, 6, 0
FILEOS 4
FILETYPE 2
{
 BLOCK "StringFileInfo"
 {
  BLOCK "000004E4"
  {
   VALUE "CompanyName", "Eugene Roshal & FAR Group\000"
   VALUE "FileDescription", "Network Plugin for FAR Manager\000"
   VALUE "FileVersion", "1.70 build 032\000"
   VALUE "InternalName", "Network\000"
   VALUE "LegalCopyright", "Copyright © Eugene Roshal 1996-2000, Copyright © 2000 - 2003 FAR Group\000"
   VALUE "OriginalFilename", "Network.dll\000"
   VALUE "ProductName", "FAR manager\000"
   VALUE "ProductVersion", "1.70 beta 6\000"
  }

 }

 BLOCK "VarFileInfo"
 {
   VALUE "Translation", 0, 0x4e4
 }

}
