BODY
{
    PADDING-LEFT: 18px;
    FONT-SIZE: 70%;
    BACKGROUND: #ffffff;
    COLOR: #000000;
    FONT-FAMILY: verdana,arial, tahoma, helvetica
}
STRONG
{
    BACKGROUND: none transparent scroll repeat 0% 0%
}
B
{
    BACKGROUND: none transparent scroll repeat 0% 0%
}
I
{
    BACKGROUND: none transparent scroll repeat 0% 0%
}
EM
{
    BACKGROUND: none transparent scroll repeat 0% 0%
}
VAR
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    FONT-STYLE: italic;
    FONT-FAMILY: verdana,arial,tahoma, helvetica
}
KBD
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    FONT-FAMILY: Courier New, Lucida Console, Courier, monospace;
    TEXT-DECORATION: none
}
P
{
    COLOR: #000000;
    FONT-FAMILY: verdana, tahoma, arial, helvetica
}
DIV
{
    COLOR: #000000;
    FONT-FAMILY: verdana, tahoma, arial, helvetica
}
UL
{
    COLOR: #000000;
    FONT-FAMILY: verdana, tahoma, arial, helvetica
}
OL
{
    COLOR: #000000;
    FONT-FAMILY: verdana, tahoma, arial, helvetica
}
TD
{
    COLOR: #000000;
    FONT-FAMILY: verdana, tahoma, arial, helvetica
}
DL
{
    COLOR: #000000;
    FONT-FAMILY: verdana, tahoma, arial, helvetica
}
P
{
    MARGIN-TOP: 8pt;
    MARGIN-BOTTOM: 6pt
}
BLOCKQUOTE
{
    MARGIN-TOP: 4pt;
    MARGIN-BOTTOM: 4pt
}
P.just
{
    MARGIN-TOP: 8pt;
    MARGIN-BOTTOM: 4pt;
    TEXT-INDENT: 2%;
    TEXT-ALIGN: justify
}
BLOCKQUOTE.just
{
    MARGIN-TOP: 6pt;
    MARGIN-BOTTOM: 4pt;
    TEXT-INDENT: 2%;
    TEXT-ALIGN: justify
}
P.justi
{
    MARGIN-TOP: 6pt;
    MARGIN-BOTTOM: 4pt;
    TEXT-INDENT: 2%;
    TEXT-ALIGN: justify
}
BLOCKQUOTE.justi
{
    MARGIN-TOP: 6pt;
    MARGIN-BOTTOM: 4pt;
    TEXT-INDENT: 2%;
    TEXT-ALIGN: justify
}
PRE
{
    COLOR: #101030;
    FONT-FAMILY: Courier New, Lucida Console, Courier, monospace;
    TEXT-ALIGN: left
}
.small
{
    FONT-SIZE: 82%
}
LI.just
{
    TEXT-ALIGN: justify
}
P.plain
{
    MARGIN-TOP: 4pt;
    MARGIN-BOTTOM: 4pt
}
TABLE
{
}
TD
{
    FONT-SIZE: 80%;
    VERTICAL-ALIGN: top
}
.gray
{
    FONT-SIZE: 80%;
    BACKGROUND: #e0e0e0;
    VERTICAL-ALIGN: top
}
.white
{
    FONT-SIZE: 80%;
    BACKGROUND: #ffffff;
    VERTICAL-ALIGN: top
}
TH
{
    FONT-SIZE: 80%;
    BACKGROUND: #b0b0b0;
    VERTICAL-ALIGN: bottom;
    COLOR: #000000;
    FONT-FAMILY: verdana, tahoma, arial, helvetica
}
TABLE.cont
{
    MARGIN-TOP: 0.6em;
    BACKGROUND: #999999;
    MARGIN-BOTTOM: 0.3em;
    WIDTH: 90%
}
TR.cont
{
    VERTICAL-ALIGN: top
}
TH.cont
{
    PADDING-RIGHT: 8px;
    PADDING-LEFT: 8px;
    FONT-SIZE: 70%;
    BACKGROUND: #cccccc;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: bottom;
    PADDING-TOP: 4px;
    TEXT-ALIGN: left
}
TD.cont
{
    PADDING-RIGHT: 8px;
    PADDING-LEFT: 8px;
    FONT-SIZE: 70%;
    BACKGROUND: #ffffff;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 4px
}
A.pre
{
    FONT-WEIGHT: bold;
    FONT-FAMILY: Courier New, Courier, monospace;
    TEXT-DECORATION: none
}
A
{
}
A:link
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #0066ff
}
A:visited
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #996600
}
A:active
{
    BACKGROUND: none transparent scroll repeat 0% 0%
}
A:hover
{
    COLOR: #cc9900
}
H1
{
    MARGIN-TOP: 5pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 170%;
    MARGIN-BOTTOM: 0pt;
    MARGIN-LEFT: -18px;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
H2
{
    MARGIN-TOP: 1em;
    FONT-WEIGHT: bold;
    FONT-SIZE: 150%;
    MARGIN-BOTTOM: 1em;
    MARGIN-LEFT: -18px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3
{
    MARGIN-TOP: 10pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 120%;
    MARGIN-BOTTOM: 4pt;
    MARGIN-LEFT: -18px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4
{
    MARGIN-TOP: 6pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 110%;
    MARGIN-BOTTOM: 2pt;
    MARGIN-LEFT: -18px;
    TEXT-INDENT: 10pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H5
{
    MARGIN-TOP: 1em;
    FONT-WEIGHT: bold;
    FONT-SIZE: 100%;
    MARGIN-BOTTOM: 1em;
    MARGIN-LEFT: -18px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H6
{
    MARGIN-TOP: 1em;
    FONT-WEIGHT: bold;
    FONT-SIZE: 90%;
    MARGIN-BOTTOM: 1em;
    MARGIN-LEFT: -18px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DFN
{
    FONT-WEIGHT: bold;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, tahoma, Lucida console,  Courier, arial, helvetica
}
DIV.shortdescr
{
    MARGIN-TOP: 0pt;
    MARGIN-BOTTOM: 0pt;
    MARGIN-LEFT: 0px
}
DIV.descr
{
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 6pt;
    MARGIN-LEFT: 10pt
}
DIV.dfn
{
    MARGIN-TOP: 6pt;
    MARGIN-BOTTOM: 2pt;
    MARGIN-LEFT: 0px;
    FONT-STYLE: italic;
    FONT-FAMILY: verdana,arial,tahoma, Lucida console,  helvetica
}
DIV.dfndescr
{
    MARGIN-TOP: 4pt;
    MARGIN-BOTTOM: 4pt;
    MARGIN-LEFT: 14pt
}
DIV.navbar
{
    MARGIN-TOP: 0pt;
    FONT-SIZE: 90%;
    MARGIN-BOTTOM: 6pt;
    MARGIN-LEFT: -17px;
    COLOR: #7389a1
}
DIV.see
{
    MARGIN-TOP: 20pt;
    FONT-WEIGHT: 600;
    MARGIN-BOTTOM: 0pt;
    MARGIN-LEFT: -18px
}
DIV.seecont
{
    MARGIN-TOP: 0pt;
    FONT-SIZE: 90%;
    MARGIN-BOTTOM: 0pt;
    MARGIN-LEFT: 0px;
    WIDTH: 400px
}
DIV.alert
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 70%;
    LEFT: 0pt;
    COLOR: #ff4080;
    MARGIN-RIGHT: 10pt;
    FONT-FAMILY: tahoma,Lucida console, verdana,  Courier, arial, helvetica;
    POSITION: absolute;
    TOP: 0pt
}
DIV.alert2
{
    FONT-WEIGHT: bold;
    LEFT: 0pt;
    MARGIN-LEFT: 20pt;
    COLOR: #ff4080;
    MARGIN-RIGHT: 40pt;
    FONT-FAMILY: tahoma,Lucida console, verdana, tahoma, Courier, arial, helvetica;
    TOP: 0pt
}
.alert3
{
    FONT-WEIGHT: bold;
    COLOR: #ff4080;
    FONT-FAMILY: verdana, Lucida console, tahoma, Courier, arial, helvetica
}
DIV.idea
{
    PADDING-RIGHT: 4pt;
    PADDING-LEFT: 4pt;
    PADDING-BOTTOM: 4pt;
    MARGIN-LEFT: 20pt;
    MARGIN-RIGHT: 20pt;
    PADDING-TOP: 4pt;
    BACKGROUND-COLOR: #b3c9e1;
    TEXT-DECORATION: none
}
DIV.articlenotes
{
    MARGIN-TOP: 20pt;
    MARGIN-LEFT: 10pt;
    MARGIN-RIGHT: 0pt;
    TEXT-ALIGN: right
}
DIV.name
{
    MARGIN-TOP: 20pt;
    FONT-WEIGHT: bold
}
DIV.contacts
{
    MARGIN-LEFT: 13pt
}
DIV.about
{
    MARGIN-LEFT: 45pt;
    WIDTH: 300pt
}
PRE.code
{
    PADDING-RIGHT: 4pt;
    MARGIN-TOP: 4pt;
    PADDING-LEFT: 4pt;
    MARGIN-BOTTOM: 4pt;
    PADDING-BOTTOM: 4pt;
    MARGIN-LEFT: 10pt;
    PADDING-TOP: 4pt;
    FONT-FAMILY: Courier New,Lucida Console, Courier New, Courier, monospace;
    BACKGROUND-COLOR: #f2f2f2
}
PRE.syntax
{
    PADDING-RIGHT: 4pt;
    PADDING-LEFT: 4pt;
    BACKGROUND: #eeeeee;
    PADDING-BOTTOM: 2pt;
    CURSOR: text;
    COLOR: #101030;
    PADDING-TOP: 2pt;
    FONT-FAMILY: Courier New,Lucida Console, Courier New, Courier, monospace
}
CODE
{
    COLOR: #000000;
    FONT-FAMILY: Courier New,Lucida Console, Courier, monospace
}
DIV.toptitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13pt;
    FONT-FAMILY: verdana, tahoma, arial, helvetica;
    TEXT-ALIGN: center
}
DIV.top2title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 6pt;
    TEXT-TRANSFORM: lowercase;
    PADDING-TOP: 4pt;
    FONT-FAMILY: verdana, tahoma, arial, helvetica;
    TEXT-ALIGN: center
}
DIV.bottomtitle
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: verdana, tahoma, arial, helvetica;
    TEXT-ALIGN: center
}
DIV.bottom2title
{
    FONT-SIZE: 7pt;
    TEXT-TRANSFORM: lowercase;
    FONT-FAMILY: verdana, tahoma, arial, helvetica;
    TEXT-ALIGN: center
}
DIV.lang
{
    FONT-SIZE: 8pt;
    LEFT: 2px;
    FONT-FAMILY: verdana, tahoma, arial, helvetica;
    POSITION: absolute;
    TOP: 2px
}
.table
{
    BACKGROUND: #f0f0f0
}
INPUT
{
    FONT-SIZE: 10pt;
    BORDER-LEFT-COLOR: #c0c0c0;
    BACKGROUND: #d8d8d8;
    BORDER-BOTTOM-COLOR: #c0c0c0;
    BORDER-TOP-STYLE: solid;
    BORDER-TOP-COLOR: #c0c0c0;
    FONT-FAMILY: Lucida Console, Courier New, Courier, verdana, tahoma;
    BORDER-RIGHT-STYLE: solid;
    BORDER-LEFT-STYLE: solid;
    BORDER-RIGHT-COLOR: #c0c0c0;
    BORDER-BOTTOM-STYLE: solid
}
TEXTAREA
{
    FONT-SIZE: 10pt;
    BORDER-LEFT-COLOR: #c0c0c0;
    BACKGROUND: #d8d8d8;
    BORDER-BOTTOM-COLOR: #c0c0c0;
    BORDER-TOP-STYLE: solid;
    BORDER-TOP-COLOR: #c0c0c0;
    FONT-FAMILY: Lucida Console, Courier New, Courier, verdana, tahoma;
    BORDER-RIGHT-STYLE: solid;
    BORDER-LEFT-STYLE: solid;
    BORDER-RIGHT-COLOR: #c0c0c0;
    BORDER-BOTTOM-STYLE: solid
}
SELECT
{
    FONT-SIZE: 10pt;
    BORDER-LEFT-COLOR: #c0c0c0;
    BACKGROUND: #d8d8d8;
    BORDER-BOTTOM-COLOR: #c0c0c0;
    BORDER-TOP-STYLE: solid;
    BORDER-TOP-COLOR: #c0c0c0;
    FONT-FAMILY: Lucida Console, Courier New, Courier, verdana, tahoma;
    BORDER-RIGHT-STYLE: solid;
    BORDER-LEFT-STYLE: solid;
    BORDER-RIGHT-COLOR: #c0c0c0;
    BORDER-BOTTOM-STYLE: solid
}
.radio
{
    BORDER-LEFT-COLOR: white;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    BORDER-BOTTOM-COLOR: white;
    BORDER-TOP-STYLE: solid;
    BORDER-TOP-COLOR: white;
    BORDER-RIGHT-STYLE: solid;
    BORDER-LEFT-STYLE: solid;
    BORDER-RIGHT-COLOR: white;
    BORDER-BOTTOM-STYLE: solid
}
.find
{
    BACKGROUND: black;
    COLOR: white
}
P.tip
{
    CLEAR: both;
    MARGIN-TOP: 1em;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: -0.25em
}
P.important
{
    CLEAR: both;
    MARGIN-TOP: 1em;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: -0.25em
}
P.caution
{
    CLEAR: both;
    MARGIN-TOP: 1em;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: -1.5em;
    FONT-FAMILY: tahoma, arial, helvetica;
    MARGIN-LEFT: 0.1em
}
UL.caution
{
    MARGIN-LEFT: 1.5em;
    FONT-FAMILY: tahoma, arial, helvetica;
    LIST-STYLE-TYPE: none
}
P.warning
{
    CLEAR: both;
    MARGIN-TOP: 1em;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: -0.25em
}
UL.warning
{
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 1.5em;
    FONT-FAMILY: tahoma, arial, helvetica;
    LIST-STYLE-TYPE: none
}
P.note
{
    CLEAR: both;
    MARGIN-TOP: 1em;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: -1.5em;
    FONT-FAMILY: tahoma, arial, helvetica;
    MARGIN-LEFT: 0.1em
}
UL.note
{
    MARGIN-LEFT: 1.5em;
    FONT-FAMILY: tahoma, arial, helvetica;
    LIST-STYLE-TYPE: none
}
SPAN.faqq
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: larger;
    FONT-FAMILY: verdana, tahoma, arial, helvetica;
    COLOR: #CC0000
}
SPAN.faqqb
{
    FONT-WEIGHT: bolder;
    COLOR: black
}
SPAN.faqa
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: larger;
    FONT-FAMILY: verdana, tahoma, arial, helvetica;
    COLOR: #000080
}
