<?xml version="1.0" encoding="utf-8"?>
<?include defines.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Feature Id="Far" Level="1" Title="!(loc.Feature.Title.Far)" Display="expand" Absent="disallow" AllowAdvertise="no" ConfigurableDirectory="INSTALLDIR">
      <ComponentRef Id="InstallDir" />
      <ComponentRef Id="ClearPluginsCache" />
      <ComponentRef Id="Far.exe" />
      <ComponentRef Id="FarEng.hlf" />
      <ComponentRef Id="FarEng.lng" />
      <ComponentRef Id="File_id.diz" />
<?if $(var.Branch) = 1 ?>
      <ComponentRef Id="Descript.ion" />
      <ComponentRef Id="ClearPluginsCache.bat" />
      <ComponentRef Id="RestoreSettings.bat" />
      <ComponentRef Id="SaveSettings.bat" />
<?endif?>
<?if $(var.Branch) = 2 ?>
      <ComponentRef Id="ClearPluginsCache.cmd" />
      <ComponentRef Id="RestoreSettings.cmd" />
      <ComponentRef Id="SaveSettings.cmd" />
<?endif?>
      <Feature Id="Addons" Level="2" Title="!(loc.Feature.Title.Addons)" AllowAdvertise="no" Description="!(loc.Feature.Description.Addons)">
        <ComponentRef Id="Descript.ion_1" />
        <ComponentRef Id="README.TXT_1" />
<?if $(var.Branch) = 1 ?>
        <Feature Id="Archivers" Level="2" Title="!(loc.Feature.Title.Archivers)" AllowAdvertise="no" Description="!(loc.Feature.Description.Archivers)">
          <ComponentRef Id="Arj.reg" />
          <ComponentRef Id="Descript.ion_2" />
          <ComponentRef Id="FarUC2.reg" />
          <ComponentRef Id="InfoZIP.reg" />
          <ComponentRef Id="LGHA.reg" />
          <ComponentRef Id="Lha32.reg" />
          <ComponentRef Id="Lha32a.reg" />
          <ComponentRef Id="Lha32b.reg" />
          <ComponentRef Id="LhArk.reg" />
          <ComponentRef Id="PkZip25.reg" />
          <ComponentRef Id="PkZip25Dos.reg" />
          <ComponentRef Id="Rar20.reg" />
          <ComponentRef Id="WinZipCL.reg" />
        </Feature>
<?endif?>
        <Feature Id="Colors" Level="2" Title="!(loc.Feature.Title.Colors)" AllowAdvertise="no" Description="!(loc.Feature.Description.Colors)">
          <ComponentRef Id="Descript.ion_3" />
          <ComponentRef Id="export_colors.bat" />
          <ComponentRef Id="import_colors.bat" />
          <ComponentRef Id="black_from_Fonarev.reg" />
          <ComponentRef Id="black_from_july.reg" />
          <ComponentRef Id="black_from_Myodov.reg" />
          <ComponentRef Id="Colors_from_admin_essp_ru.reg" />
          <ComponentRef Id="Colors_from_Gernichenko.reg" />
          <ComponentRef Id="Colors_from_Sadovoj.reg" />
          <ComponentRef Id="Descript.ion_4" />
          <ComponentRef Id="dn_like.reg" />
          <ComponentRef Id="FARColors242.reg" />
          <ComponentRef Id="GreenMile.reg" />
          <ComponentRef Id="hell.reg" />
          <ComponentRef Id="import_colors.bat_1" />
          <ComponentRef Id="nc5pal2.reg" />
          <ComponentRef Id="Rodion_Doroshkevich.reg" />
          <ComponentRef Id="VaxColors.reg" />
          <ComponentRef Id="black_from_Fonarev.reg_1" />
          <ComponentRef Id="black_from_july.reg_1" />
          <ComponentRef Id="black_from_Myodov.reg_1" />
          <ComponentRef Id="Colors_from_admin_essp_ru.reg_1" />
          <ComponentRef Id="Colors_from_Gernichenko.reg_1" />
          <ComponentRef Id="Colors_from_Sadovoj.reg_1" />
          <ComponentRef Id="Descript.ion_5" />
          <ComponentRef Id="dn_like.reg_1" />
          <ComponentRef Id="FARColors242.reg_1" />
          <ComponentRef Id="GreenMile.reg_1" />
          <ComponentRef Id="hell.reg_1" />
          <ComponentRef Id="import_colors.bat_2" />
          <ComponentRef Id="nc5pal2.reg_1" />
          <ComponentRef Id="Rodion_Doroshkevich.reg_1" />
          <ComponentRef Id="VaxColors.reg_1" />
        </Feature>
        <Feature Id="Macros" Level="2" Title="!(loc.Feature.Title.Macros)" AllowAdvertise="no" Description="!(loc.Feature.Description.Macros)">
          <ComponentRef Id="AltMenu.reg" />
          <ComponentRef Id="AltScreens.reg" />
          <ComponentRef Id="AltSearch.reg" />
          <ComponentRef Id="AltX.reg" />
          <ComponentRef Id="CtrlDel.reg" />
          <ComponentRef Id="CtrlF10.reg" />
          <ComponentRef Id="Descript.ion_6" />
          <ComponentRef Id="Dialog.AltDown.reg" />
          <ComponentRef Id="Edit.Notepad.reg" />
          <ComponentRef Id="Edit.SaveAndExit.reg" />
          <ComponentRef Id="Edit.SaveFile.reg" />
          <ComponentRef Id="F3.reg" />
          <ComponentRef Id="F9DeactivateMenu.reg" />
          <ComponentRef Id="F9Table.reg" />
          <ComponentRef Id="MacroConsts.reg" />
          <ComponentRef Id="OpeningLastFile.reg" />
          <ComponentRef Id="Panel.AltBS.reg" />
          <ComponentRef Id="Panel.Apps.reg" />
          <ComponentRef Id="Panel.BS.reg" />
          <ComponentRef Id="Panel.CtrlIns_reg" />
          <ComponentRef Id="Panel.CtrlLeft.reg" />
          <ComponentRef Id="Panel.CtrlQ.reg" />
          <ComponentRef Id="Panel.CtrlRight.reg" />
          <ComponentRef Id="Panel.CtrlShiftBackSlash.reg" />
          <ComponentRef Id="Panel.CtrlShiftPgUpDn.reg" />
          <ComponentRef Id="Panel.Del.reg" />
          <ComponentRef Id="Panel.Esc.reg" />
          <ComponentRef Id="Panel.JumpToSelectedFile.reg" />
          <ComponentRef Id="Panel.Lynx_mot.reg" />
          <ComponentRef Id="Panel.MouseWheelTilt.reg" />
          <ComponentRef Id="Panel.Numpad.reg" />
<?if $(var.Branch) = 2 ?>
          <ComponentRef Id="Panel.SelectFromClipboard.reg" />
<?endif?>
          <ComponentRef Id="Panel.SpaceToSelect.reg" />
          <ComponentRef Id="ShiftBS.reg" />
          <ComponentRef Id="ShiftF1.reg" />
          <ComponentRef Id="ShiftTab.reg" />
          <ComponentRef Id="View.CtrlUpDown.reg" />
          <ComponentRef Id="View.NextPrevFile.reg" />
          <ComponentRef Id="View.PgDn.reg" />
          <ComponentRef Id="View.ShiftInsSearch.reg" />
          <ComponentRef Id="View.Space.reg" />
          <ComponentRef Id="WheelScreenSwitch.reg" />
        </Feature>
        <Feature Id="SetUp" Level="2" Title="!(loc.Feature.Title.SetUp)" AllowAdvertise="no" Description="!(loc.Feature.Description.SetUp)">
          <ComponentRef Id="Default165.reg" />
          <ComponentRef Id="Descript.ion_7" />
          <ComponentRef Id="Executor.4NT.reg" />
          <ComponentRef Id="Executor.CMD.reg" />
<?if $(var.Branch) = 1 ?>
          <ComponentRef Id="Executor.COMMAND.reg" />
<?endif?>
          <ComponentRef Id="WindowsGUI.reg" />
        </Feature>
        <Feature Id="Shell" Level="2" Title="!(loc.Feature.Title.Shell)" AllowAdvertise="no" Description="!(loc.Feature.Description.Shell)">
          <ComponentRef Id="Descript.ion_8" />
          <ComponentRef Id="FARHere.inf" />
        </Feature>
<?if $(var.Branch) = 1 ?>
        <Feature Id="Tables" Level="2" Title="!(loc.Feature.Title.Tables)" AllowAdvertise="no" Description="!(loc.Feature.Description.Tables)">
          <ComponentRef Id="Descript.ion_9" />
          <ComponentRef Id="README.TXT_2" />
          <ComponentRef Id="Czech___CP_895__Kamenicti_.reg" />
          <ComponentRef Id="Descript.ion_10" />
          <ComponentRef Id="Hungarian___CWI.reg" />
          <ComponentRef Id="ISO_8859_2__Latin_II_.reg" />
          <ComponentRef Id="Polish___CP_896__Mazovia_.reg" />
          <ComponentRef Id="Windows_1250.reg" />
          <ComponentRef Id="Bulgarian_MIC.reg" />
          <ComponentRef Id="Descript.ion_11" />
          <ComponentRef Id="Dist.Rus.reg" />
          <ComponentRef Id="Dist.Ukr.reg" />
          <ComponentRef Id="DKOI8__Mainframe_.reg" />
          <ComponentRef Id="DM__Amiga_.reg" />
          <ComponentRef Id="ISO_8859_5.reg" />
          <ComponentRef Id="KOI8_R.reg" />
          <ComponentRef Id="KOI8_U.reg" />
          <ComponentRef Id="Macintosh_Standard.reg" />
          <ComponentRef Id="RUSCII__GOST_Ukrainian_.reg" />
          <ComponentRef Id="Windows_1251.reg" />
          <ComponentRef Id="Descript.ion_12" />
          <ComponentRef Id="Email_DKWD.reg" />
          <ComponentRef Id="Email_DWKD.reg" />
          <ComponentRef Id="Email_KWKD.reg" />
          <ComponentRef Id="Email_WK.reg" />
          <ComponentRef Id="Email_WKWD.reg" />
          <ComponentRef Id="readme.txt_3" />
          <ComponentRef Id="Descript.ion_13" />
          <ComponentRef Id="Windows_1255.reg" />
          <ComponentRef Id="Descript.ion_14" />
          <ComponentRef Id="Dist.Ger.reg" />
          <ComponentRef Id="ISO_8859_1__Latin_I_.reg" />
          <ComponentRef Id="Macintosh_Standard.reg_1" />
          <ComponentRef Id="Windows_1252.reg" />
        </Feature>
<?endif?>
        <Feature Id="XLat" Level="2" Title="!(loc.Feature.Title.XLat)" AllowAdvertise="no" Description="!(loc.Feature.Description.XLat)">
          <ComponentRef Id="Descript.ion_15" />
          <ComponentRef Id="AltR.reg" />
          <ComponentRef Id="Apps.reg_1" />
          <ComponentRef Id="CtrlR.reg" />
          <ComponentRef Id="CtrlShiftX.reg" />
          <ComponentRef Id="Descript.ion_16" />
          <ComponentRef Id="Qwerty.reg" />
        </Feature>
      </Feature>
      <Feature Id="Changelogs" Level="2" Title="!(loc.Feature.Title.Changelogs)" AllowAdvertise="no" Description="!(loc.Feature.Description.Changelogs)">
        <ComponentRef Id="changelog" />
<?if $(var.Branch) = 2 ?>
        <ComponentRef Id="changelog_eng" />
<?endif?>
      </Feature>
      <Feature Id="Docs" Level="1" Title="!(loc.Feature.Title.Docs)" AllowAdvertise="no" Description="!(loc.Feature.Description.Docs)">
        <ComponentRef Id="Arc.Support.txt" />
        <ComponentRef Id="Bug.Report.txt" />
<?if $(var.Branch) = 1 ?>
        <ComponentRef Id="Descript.ion_17" />
<?endif?>
        <ComponentRef Id="Far.FAQ.txt" />
        <ComponentRef Id="Plugins.Install.txt" />
        <ComponentRef Id="Plugins.Review.txt" />
        <ComponentRef Id="TechInfo.txt" />
      </Feature>
      <Feature Id="Docs.Russian" Level="1" Display="hidden" AllowAdvertise="no">
        <ComponentRef Id="Arc.Support.txt_1" />
        <ComponentRef Id="Bug.Report.txt_1" />
<?if $(var.Branch) = 1 ?>
        <ComponentRef Id="Descript.ion_18" />
<?endif?>
        <ComponentRef Id="Far.FAQ.txt_1" />
        <ComponentRef Id="Plugins.Install.txt_1" />
        <ComponentRef Id="Plugins.Review.txt_1" />
        <ComponentRef Id="TechInfo.txt_1" />
      </Feature>
      <Feature Id="Enc" Level="2" Title="!(loc.Feature.Title.Enc)" AllowAdvertise="no" Description="!(loc.Feature.Description.Enc)">
<?if $(var.Branch) = 1 ?>
        <ComponentRef Id="FarEncyclopedia.en.chm" />
      </Feature>
      <Feature Id="Enc.Russian" Level="2" Display="hidden" AllowAdvertise="no">
<?endif?>
        <ComponentRef Id="FarEncyclopedia.ru.chm" />
      </Feature>
<?if $(var.Platform) = x86 ?>
      <Feature Id="FExcept" Level="1" Title="!(loc.Feature.Title.FExcept)" AllowAdvertise="no" Description="!(loc.Feature.Description.FExcept)">
        <ComponentRef Id="FExceptReg" />
        <ComponentRef Id="demangle32.dll" />
        <ComponentRef Id="ExcDump.dll" />
        <ComponentRef Id="FExcept.dll" />
        <ComponentRef Id="SetFarExceptionHandler.reg" />
        <ComponentRef Id="FStd_trap.log" />
        <ComponentRef Id="far.map" />
      </Feature>
      <Feature Id="Changelogs.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
        <ComponentRef Id="changelog_1" />
      </Feature>
<?endif?>
      <Feature Id="Languages" Level="1" Title="!(loc.Feature.Title.Languages)" AllowAdvertise="no" Description="!(loc.Feature.Description.Languages)">
        <Feature Id="Russian" Level="1" Title="!(loc.Feature.Title.Russian)" AllowAdvertise="no">
          <ComponentRef Id="FarRus.hlf" />
          <ComponentRef Id="FarRus.lng" />
        </Feature>
<?if $(var.Branch) = 2 ?>
        <Feature Id="Czech" Level="2" Title="!(loc.Feature.Title.Czech)" AllowAdvertise="no">
          <ComponentRef Id="FarCze.lng" />
        </Feature>
        <Feature Id="German" Level="2" Title="!(loc.Feature.Title.German)" AllowAdvertise="no">
          <ComponentRef Id="FarGer.lng" />
        </Feature>
        <Feature Id="Hungarian" Level="2" Title="!(loc.Feature.Title.Hungarian)" AllowAdvertise="no">
          <ComponentRef Id="FarHun.hlf" />
          <ComponentRef Id="FarHun.lng" />
        </Feature>
        <Feature Id="Polish" Level="2" Title="!(loc.Feature.Title.Polish)" AllowAdvertise="no">
          <ComponentRef Id="FarPol.lng" />
        </Feature>
        <Feature Id="Spanish" Level="2" Title="!(loc.Feature.Title.Spanish)" AllowAdvertise="no">
          <ComponentRef Id="FarSpa.lng" />
        </Feature>
<?endif?>
      </Feature>
      <Feature Id="FarShortcuts" Level="1" Title="!(loc.Feature.Title.FarShortcuts)" AllowAdvertise="no">
        <Feature Id="FarProgramsShortcut" Level="1" Title="!(loc.Feature.Title.FarProgramsShortcut)" AllowAdvertise="no">
          <ComponentRef Id="FarProgramsShortcut" />
          <ComponentRef Id="UninstallProduct" />
          <ComponentRef Id="Scripts" />
          <Feature Id="FarProgramsShortcut.Enc" Level="2" Display="hidden" AllowAdvertise="no">
<?if $(var.Branch) = 1 ?>
            <ComponentRef Id="EnglishEncShortcut" />
          </Feature>
          <Feature Id="FarProgramsShortcut.Enc.Russian" Level="2" Display="hidden" AllowAdvertise="no">
<?endif?>
            <ComponentRef Id="RussianEncShortcut" />
          </Feature>
        </Feature>
        <Feature Id="FarDesktopShortcut" Level="2" Title="!(loc.Feature.Title.FarDesktopShortcut)" AllowAdvertise="no">
          <ComponentRef Id="FarDesktopShortcut" />
        </Feature>
        <Feature Id="FarStartMenuShortcut" Level="2" Title="!(loc.Feature.Title.FarStartMenuShortcut)" AllowAdvertise="no">
          <ComponentRef Id="FarStartMenuShortcut" />
        </Feature>
        <Feature Id="FarQuickLaunchShortcut" Level="2" Title="!(loc.Feature.Title.FarQuickLaunchShortcut)" AllowAdvertise="no">
          <ComponentRef Id="FarQuickLaunchShortcut" />
        </Feature>
      </Feature>
      <Feature Id="System" Level="2" Title="!(loc.Feature.Title.System)" AllowAdvertise="no" Description="!(loc.Feature.Description.System)">
        <Feature Id="AppPaths" Level="2" Title="!(loc.Feature.Title.AppPaths)" AllowAdvertise="no" Description="!(loc.Feature.Description.AppPaths)">
          <ComponentRef Id="AppPaths" />
        </Feature>
        <Feature Id="FarHere" Level="2" Title="!(loc.Feature.Title.FarHere)" AllowAdvertise="no" Description="!(loc.Feature.Description.FarHere)">
          <ComponentRef Id="FarHere" />
        </Feature>
      </Feature>
      <Feature Id="SDK" Level="2" Title="!(loc.Feature.Title.SDK)" AllowAdvertise="no" Description="!(loc.Feature.Description.SDK)">
<?if $(var.Branch) = 1 ?>
        <ComponentRef Id="Descript.ion_19" />
        <ComponentRef Id="GCCReadme.txt" />
        <ComponentRef Id="README.TXT_4" />
        <ComponentRef Id="VCReadme.txt" />
<?endif?>
        <ComponentRef Id="farcolor.hpp" />
        <ComponentRef Id="farkeys.hpp" />
        <ComponentRef Id="plugin.hpp" />
        <Feature Id="Pascal" Level="2" Title="!(loc.Feature.Title.Pascal)" AllowAdvertise="no">
<?if $(var.Branch) = 1 ?>
          <ComponentRef Id="farcolor.pas" />
          <ComponentRef Id="farkeys.pas" />
          <ComponentRef Id="plugin.pas" />
<?endif?>
<?if $(var.Branch) = 2 ?>
          <ComponentRef Id="FarColorW.pas" />
          <ComponentRef Id="FarKeysW.pas" />
          <ComponentRef Id="PluginW.pas" />
<?endif?>
        </Feature>
      </Feature>
      <Feature Id="Plugins" Level="1" Display="expand" Title="!(loc.Feature.Title.Plugins)" AllowAdvertise="no" Description="!(loc.Feature.Description.Plugins)">
        <Feature Id="Editor" Level="1" Title="!(loc.Feature.Title.Editor)" AllowAdvertise="no" Description="!(loc.Feature.Description.Editor)">
          <Feature Id="Align" Level="1" Title="!(loc.Feature.Title.Align)" AllowAdvertise="no" Description="!(loc.Feature.Description.Align)">
            <ComponentRef Id="Align.dll" />
            <ComponentRef Id="AlignEng.lng" />
            <Feature Id="Align.Russian" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="AlignRus.lng" />
            </Feature>
<?if $(var.Platform) = x86 ?>
            <Feature Id="Align.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="Align.map" />
            </Feature>
<?endif?>
            <Feature Id="Align.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="changelog_2" />
            </Feature>
          </Feature>
          <Feature Id="AutoWrap" Level="1" Title="!(loc.Feature.Title.AutoWrap)" AllowAdvertise="no" Description="!(loc.Feature.Description.AutoWrap)">
            <ComponentRef Id="AutoWrap.dll" />
            <ComponentRef Id="WrapEng.lng" />
            <Feature Id="AutoWrap.Russian" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="WrapRus.lng" />
            </Feature>
<?if $(var.Platform) = x86 ?>
            <Feature Id="AutoWrap.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="AutoWrap.map" />
            </Feature>
<?endif?>
            <Feature Id="AutoWrap.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="changelog_3" />
            </Feature>
          </Feature>
          <Feature Id="Brackets" Level="1" Title="!(loc.Feature.Title.Brackets)" AllowAdvertise="no" Description="!(loc.Feature.Description.Brackets)">
            <ComponentRef Id="BrackDel.reg" />
            <ComponentRef Id="BrackEng.hlf" />
            <ComponentRef Id="BrackEng.lng" />
            <ComponentRef Id="BrackEng.reg" />
            <ComponentRef Id="Brackets.dll" />
            <Feature Id="Brackets.Russian" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="BrackRus.hlf" />
              <ComponentRef Id="BrackRus.lng" />
              <ComponentRef Id="BrackRus.reg" />
            </Feature>
<?if $(var.Platform) = x86 ?>
            <Feature Id="Brackets.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="Brackets.map" />
            </Feature>
<?endif?>
            <Feature Id="Brackets.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="changelog_4" />
            </Feature>
          </Feature>
          <Feature Id="DrawLine" Level="1" Title="!(loc.Feature.Title.DrawLine)" AllowAdvertise="no" Description="!(loc.Feature.Description.DrawLine)">
            <ComponentRef Id="DrawEng.hlf" />
            <ComponentRef Id="DrawEng.lng" />
            <ComponentRef Id="DrawLine.dll" />
            <Feature Id="DrawLine.Russian" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="DrawRus.hlf" />
              <ComponentRef Id="DrawRus.lng" />
            </Feature>
<?if $(var.Platform) = x86 ?>
            <Feature Id="DrawLine.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="DrawLine.map" />
            </Feature>
<?endif?>
            <Feature Id="DrawLine.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="changelog_6" />
            </Feature>
          </Feature>
          <Feature Id="EditCase" Level="1" Title="!(loc.Feature.Title.EditCase)" AllowAdvertise="no" Description="!(loc.Feature.Description.EditCase)">
            <ComponentRef Id="ECaseEng.hlf" />
            <ComponentRef Id="ECaseEng.lng" />
            <ComponentRef Id="EditCase.dll" />
            <Feature Id="EditCase.Russian" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="ECaseRus.hlf" />
              <ComponentRef Id="ECaseRus.lng" />
            </Feature>
<?if $(var.Platform) = x86 ?>
            <Feature Id="EditCase.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="EditCase.map" />
            </Feature>
<?endif?>
            <Feature Id="EditCase.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="changelog_7" />
            </Feature>
          </Feature>
        </Feature>
<?if $(var.Branch) = 2 ?>
        <Feature Id="arclite" Level="1" Title="!(loc.Feature.Title.arclite)" AllowAdvertise="no" Description="!(loc.Feature.Description.arclite)">
          <ComponentRef Id="arclite.dll" />
          <ComponentRef Id="arclite_eng.hlf" />
          <ComponentRef Id="arclite_eng.lng" />
          <Feature Id="_7z.dll" Level="1" Title="!(loc.Feature.Title._7z.dll)" AllowAdvertise="no" Description="!(loc.Feature.Description._7z.dll)">
            <ComponentRef Id="_7z.dll" />
          </Feature>
          <Feature Id="sfx" Level="1" Title="!(loc.Feature.Title.sfx)" AllowAdvertise="no" Description="!(loc.Feature.Description.sfx)">
            <Feature Id="_7z.sfx" Level="1" Title="!(loc.Feature.Title._7z.sfx)" AllowAdvertise="no" Description="!(loc.Feature.Description._7z.sfx)">
              <ComponentRef Id="_7z.sfx" />
            </Feature>
            <Feature Id="_7zCon.sfx" Level="1" Title="!(loc.Feature.Title._7zCon.sfx)" AllowAdvertise="no" Description="!(loc.Feature.Description._7zCon.sfx)">
              <ComponentRef Id="_7zCon.sfx" />
            </Feature>
            <Feature Id="_7zSD.sfx" Level="1" Title="!(loc.Feature.Title._7zSD.sfx)" AllowAdvertise="no" Description="!(loc.Feature.Description._7zSD.sfx)">
              <ComponentRef Id="_7zSD.sfx" />
            </Feature>
            <Feature Id="_7zS2.sfx" Level="1" Title="!(loc.Feature.Title._7zS2.sfx)" AllowAdvertise="no" Description="!(loc.Feature.Description._7zS2.sfx)">
              <ComponentRef Id="_7zS2.sfx" />
            </Feature>
            <Feature Id="_7zS2con.sfx" Level="1" Title="!(loc.Feature.Title._7zS2con.sfx)" AllowAdvertise="no" Description="!(loc.Feature.Description._7zS2con.sfx)">
              <ComponentRef Id="_7zS2con.sfx" />
            </Feature>
          </Feature>
          <Feature Id="arclite.Russian" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="arclite_rus.hlf" />
            <ComponentRef Id="arclite_rus.lng" />
          </Feature>
<?if $(var.Platform) = x86 ?>
          <Feature Id="arclite.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="arclite.map" />
          </Feature>
<?endif?>
          <Feature Id="arclite.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="changelog_18" />
          </Feature>
        </Feature>
<?endif?>
        <Feature Id="Compare" Level="1" Title="!(loc.Feature.Title.Compare)" AllowAdvertise="no" Description="!(loc.Feature.Description.Compare)">
          <ComponentRef Id="CmpEng.hlf" />
          <ComponentRef Id="Compare.dll" />
          <ComponentRef Id="CompEng.lng" />
          <Feature Id="Compare.Russian" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="CmpRus.hlf" />
            <ComponentRef Id="CompRus.lng" />
          </Feature>
<?if $(var.Platform) = x86 ?>
          <Feature Id="Compare.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="Compare.map" />
          </Feature>
<?endif?>
          <Feature Id="Compare.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="changelog_5" />
          </Feature>
        </Feature>
        <Feature Id="EMenu" Level="1" Title="!(loc.Feature.Title.EMenu)" AllowAdvertise="no" Description="!(loc.Feature.Description.EMenu)">
          <ComponentRef Id="EMenu.dll" />
          <ComponentRef Id="EMenuDel.reg" />
          <ComponentRef Id="EMenuEng.hlf" />
          <ComponentRef Id="EMenuEng.lng" />
          <ComponentRef Id="Hotkey.reg" />
          <ComponentRef Id="HotkeyClipboard.reg" />
          <ComponentRef Id="HotkeyProperties.reg" />
          <Feature Id="EMenu.Russian" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="EMenuRus.hlf" />
            <ComponentRef Id="EMenuRus.lng" />
          </Feature>
<?if $(var.Platform) = x86 ?>
          <Feature Id="EMenu.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="EMenu.map" />
          </Feature>
<?endif?>
          <Feature Id="EMenu.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="changelog_8" />
          </Feature>
        </Feature>
        <Feature Id="FARCmds" Level="1" Title="!(loc.Feature.Title.FARCmds)" AllowAdvertise="no" Description="!(loc.Feature.Description.FARCmds)">
          <ComponentRef Id="FARCmds.dll" />
          <ComponentRef Id="FARCmdsEng.hlf" />
          <ComponentRef Id="FARCmdsEng.lng" />
          <Feature Id="FARCmds.Russian" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="FARCmdsRus.hlf" />
            <ComponentRef Id="FARCmdsRus.lng" />
          </Feature>
<?if $(var.Platform) = x86 ?>
          <Feature Id="FARCmds.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="FARCmds.map" />
          </Feature>
<?endif?>
          <Feature Id="FARCmds.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="changelog_9" />
          </Feature>
        </Feature>
        <Feature Id="FileCase" Level="1" Title="!(loc.Feature.Title.FileCase)" AllowAdvertise="no" Description="!(loc.Feature.Description.FileCase)">
          <ComponentRef Id="CaseEng.hlf" />
          <ComponentRef Id="CaseEng.lng" />
          <ComponentRef Id="FileCase.dll" />
          <Feature Id="FileCase.Russian" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="CaseRus.hlf" />
            <ComponentRef Id="CaseRus.lng" />
          </Feature>
<?if $(var.Platform) = x86 ?>
          <Feature Id="FileCase.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="FileCase.map" />
          </Feature>
<?endif?>
          <Feature Id="FileCase.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="changelog_10" />
          </Feature>
        </Feature>
        <Feature Id="FarFtp" Level="1" Title="!(loc.Feature.Title.FarFtp)" AllowAdvertise="no" Description="!(loc.Feature.Description.FarFtp)">
          <ComponentRef Id="FarFtp.dll" />
          <ComponentRef Id="FtpCmds.txt" />
          <ComponentRef Id="FtpEng.hlf" />
          <ComponentRef Id="FtpEng.lng" />
          <ComponentRef Id="Notes.txt" />
          <ComponentRef Id="TechInfo.reg" />
          <Feature Id="ftpDirList" Level="1" Title="!(loc.Feature.Title.ftpDirList)" AllowAdvertise="no" Description="!(loc.Feature.Description.ftpDirList)">
            <ComponentRef Id="ftpDirList.fll" />
<?if $(var.Platform) = x86 ?>
            <Feature Id="ftpDirList.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="ftpDirList.map" />
            </Feature>
<?endif?>
          </Feature>
          <Feature Id="ftpProgress" Level="1" Title="!(loc.Feature.Title.ftpProgress)" AllowAdvertise="no" Description="!(loc.Feature.Description.ftpProgress)">
            <ComponentRef Id="ftpProgress.fll" />
            <ComponentRef Id="Progress_FarCopy.reg" />
            <ComponentRef Id="Progress_JM.reg" />
            <ComponentRef Id="Progress_Wesha.reg" />
            <ComponentRef Id="Progress_ZeMA.reg" />
<?if $(var.Platform) = x86 ?>
            <Feature Id="ftpProgress.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="ftpProgress.map" />
            </Feature>
<?endif?>
          </Feature>
          <Feature Id="FarFtp.Russian" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="FtpCmds_rus.txt" />
            <ComponentRef Id="FtpRus.hlf" />
            <ComponentRef Id="FtpRus.lng" />
            <ComponentRef Id="Notes_rus.txt" />
            <ComponentRef Id="TechInfo_rus.reg" />
          </Feature>
<?if $(var.Platform) = x86 ?>
          <Feature Id="FarFtp.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="FarFtp.map" />
          </Feature>
<?endif?>
          <Feature Id="FarFtp.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="changelog_11" />
          </Feature>
        </Feature>
        <Feature Id="HlfViewer" Level="1" Title="!(loc.Feature.Title.HlfViewer)" AllowAdvertise="no" Description="!(loc.Feature.Description.HlfViewer)">
          <ComponentRef Id="HlfViewer.dll" />
          <ComponentRef Id="HlfViewerEng.hlf" />
          <ComponentRef Id="HlfViewerEng.lng" />
          <Feature Id="HlfViewer.Russian" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="HlfViewerRus.hlf" />
            <ComponentRef Id="HlfViewerRus.lng" />
          </Feature>
<?if $(var.Platform) = x86 ?>
          <Feature Id="HlfViewer.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="HlfViewer.map" />
          </Feature>
<?endif?>
          <Feature Id="HlfViewer.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="changelog_12" />
          </Feature>
        </Feature>
        <Feature Id="MacroView" Level="1" Title="!(loc.Feature.Title.MacroView)" AllowAdvertise="no" Description="!(loc.Feature.Description.MacroView)">
          <ComponentRef Id="MacroEng.hlf" />
          <ComponentRef Id="MacroEng.lng" />
          <ComponentRef Id="MacroView.dll" />
          <Feature Id="MacroView.Russian" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="MacroRus.hlf" />
            <ComponentRef Id="MacroRus.lng" />
          </Feature>
<?if $(var.Platform) = x86 ?>
          <Feature Id="MacroView.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="MacroView.map" />
          </Feature>
<?endif?>
          <Feature Id="MacroView.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="changelog_13" />
          </Feature>
        </Feature>
<?if $(var.Branch) = 1 ?>
        <Feature Id="MultiArc" Level="1" Title="!(loc.Feature.Title.MultiArc)" AllowAdvertise="no" Description="!(loc.Feature.Description.MultiArc)">
          <ComponentRef Id="arceng.hlf" />
          <ComponentRef Id="arceng.lng" />
          <ComponentRef Id="MultiArc.dll" />
          <Feature Id="Ace" Level="1" Title="!(loc.Feature.Title.Ace)" AllowAdvertise="no">
            <ComponentRef Id="Ace.fmt" />
<?if $(var.Platform) = x86 ?>
            <Feature Id="Ace.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="Ace.map" />
            </Feature>
<?endif?>
          </Feature>
          <Feature Id="Arc" Level="1" Title="!(loc.Feature.Title.Arc)" AllowAdvertise="no">
            <ComponentRef Id="Arc.fmt" />
<?if $(var.Platform) = x86 ?>
            <Feature Id="Arc.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="Arc.map" />
            </Feature>
<?endif?>
          </Feature>
          <Feature Id="Arj" Level="1" Title="!(loc.Feature.Title.Arj)" AllowAdvertise="no">
            <ComponentRef Id="Arj.fmt" />
<?if $(var.Platform) = x86 ?>
            <Feature Id="Arj.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="Arj.map" />
            </Feature>
<?endif?>
          </Feature>
          <Feature Id="Cab" Level="1" Title="!(loc.Feature.Title.Cab)" AllowAdvertise="no">
            <ComponentRef Id="Cab.fmt" />
<?if $(var.Platform) = x86 ?>
            <Feature Id="Cab.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="Cab.map" />
            </Feature>
<?endif?>
          </Feature>
          <Feature Id="Custom" Level="1" Title="!(loc.Feature.Title.Custom)" AllowAdvertise="no">
            <ComponentRef Id="Custom.fmt" />
            <ComponentRef Id="custom.ini" />
<?if $(var.Platform) = x86 ?>
            <Feature Id="Custom.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="Custom.map" />
            </Feature>
<?endif?>
          </Feature>
          <Feature Id="Ha" Level="1" Title="!(loc.Feature.Title.Ha)" AllowAdvertise="no">
            <ComponentRef Id="Ha.fmt" />
<?if $(var.Platform) = x86 ?>
            <Feature Id="Ha.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="Ha.map" />
            </Feature>
<?endif?>
          </Feature>
          <Feature Id="Lzh" Level="1" Title="!(loc.Feature.Title.Lzh)" AllowAdvertise="no">
            <ComponentRef Id="Lzh.fmt" />
<?if $(var.Platform) = x86 ?>
            <Feature Id="Lzh.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="Lzh.map" />
            </Feature>
<?endif?>
          </Feature>
          <Feature Id="Rar" Level="1" Title="!(loc.Feature.Title.Rar)" AllowAdvertise="no">
            <ComponentRef Id="Rar.fmt" />
<?if $(var.Platform) = x86 ?>
            <Feature Id="Rar.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="Rar.map" />
            </Feature>
<?endif?>
          </Feature>
          <Feature Id="TarGz" Level="1" Title="!(loc.Feature.Title.TarGz)" AllowAdvertise="no">
            <ComponentRef Id="TarGz.fmt" />
<?if $(var.Platform) = x86 ?>
            <Feature Id="TarGz.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="TarGz.map" />
            </Feature>
<?endif?>
          </Feature>
          <Feature Id="Zip" Level="1" Title="!(loc.Feature.Title.Zip)" AllowAdvertise="no">
            <ComponentRef Id="Zip.fmt" />
<?if $(var.Platform) = x86 ?>
            <Feature Id="Zip.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
              <ComponentRef Id="Zip.map" />
            </Feature>
<?endif?>
          </Feature>
          <Feature Id="MultiArc.Russian" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="arcrus.hlf" />
            <ComponentRef Id="arcrus.lng" />
          </Feature>
<?if $(var.Platform) = x86 ?>
          <Feature Id="MultiArc.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="MultiArc.map" />
          </Feature>
<?endif?>
          <Feature Id="MultiArc.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="changelog_14" />
          </Feature>
        </Feature>
<?endif?>
        <Feature Id="Network" Level="1" Title="!(loc.Feature.Title.Network)" AllowAdvertise="no" Description="!(loc.Feature.Description.Network)">
          <ComponentRef Id="NetEng.hlf" />
          <ComponentRef Id="NetEng.lng" />
          <ComponentRef Id="Network.dll" />
          <Feature Id="Network.Russian" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="NetRus.hlf" />
            <ComponentRef Id="NetRus.lng" />
          </Feature>
<?if $(var.Platform) = x86 ?>
          <Feature Id="Network.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="Network.map" />
          </Feature>
<?endif?>
          <Feature Id="Network.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="changelog_15" />
          </Feature>
        </Feature>
        <Feature Id="Proclist" Level="1" Title="!(loc.Feature.Title.Proclist)" AllowAdvertise="no" Description="!(loc.Feature.Description.Proclist)">
          <ComponentRef Id="ProcEng.hlf" />
          <ComponentRef Id="ProcEng.lng" />
          <ComponentRef Id="Proclist.dll" />
          <Feature Id="Proclist.Russian" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="ProcRus.hlf" />
            <ComponentRef Id="ProcRus.lng" />
          </Feature>
<?if $(var.Platform) = x86 ?>
          <Feature Id="Proclist.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="Proclist.map" />
          </Feature>
<?endif?>
          <Feature Id="Proclist.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="changelog_16" />
          </Feature>
        </Feature>
        <Feature Id="TmpPanel" Level="1" Title="!(loc.Feature.Title.TmpPanel)" AllowAdvertise="no" Description="!(loc.Feature.Description.TmpPanel)">
          <ComponentRef Id="disks.eng.temp" />
          <ComponentRef Id="shortcuts.eng.reg" />
          <ComponentRef Id="shortcuts.eng.temp" />
          <ComponentRef Id="TmpEng.hlf" />
          <ComponentRef Id="TmpEng.lng" />
          <ComponentRef Id="TmpPanel.dll" />
          <Feature Id="TmpPanel.Russian" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="disks.rus.temp" />
            <ComponentRef Id="shortcuts.rus.reg" />
            <ComponentRef Id="shortcuts.rus.temp" />
            <ComponentRef Id="TmpRus.hlf" />
            <ComponentRef Id="TmpRus.lng" />
          </Feature>
<?if $(var.Platform) = x86 ?>
          <Feature Id="TmpPanel.FExcept" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="TmpPanel.map" />
          </Feature>
<?endif?>
          <Feature Id="TmpPanel.Changelogs" Level="1" Display="hidden" AllowAdvertise="no">
            <ComponentRef Id="changelog_17" />
          </Feature>
        </Feature>
      </Feature>
    </Feature>
  </Fragment>
</Wix>
