<?xml version="1.0" encoding="utf-8"?>
<?include defines.wxi ?>
<?include guids_$(var.Branch)_$(var.Platform).wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Language="!(loc.Language)" Codepage="1252" Name="$(var.Product)" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.Guid.UpgradeCode)">
    <Package Id="*" Platform="$(var.Platform)" Compressed="yes" Manufacturer="$(var.Manufacturer)" Description="$(var.Product) $(var.Version)" InstallerVersion="200" SummaryCodepage="!(loc.Codepage)" />
    <Property Id="INSTALLDIR">
      <RegistrySearch Id="InstallDir" Root="HKLM" Key="Software\$(var.RegKey)" Name="InstallDir" Type="directory" Win64="$(var.Win64)" />
    </Property>
    <Property Id="USERINSTALLDIR">
      <RegistrySearch Id="UserInstallDir" Root="HKCU" Key="Software\$(var.RegKey)" Name="InstallDir" Type="directory" Win64="$(var.Win64)" />
    </Property>
    <Property Id="InstallScope" Value="Machine" />
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="REINSTALLMODE" Value="amus" />
    <Property Id="ARPPRODUCTICON" Value="Far.ico" />
    <Property Id="ARPHELPLINK" Value="http://forum.farmanager.com/" />
    <Property Id="ARPURLINFOABOUT" Value="http://farmanager.com/" />
    <Property Id="ARPURLUPDATEINFO" Value="http://farmanager.com/download.php" />
    <Media Id="1" Cabinet="far_$(var.Branch)_$(var.Platform).cab" EmbedCab="yes" />
<?if $(var.Branch) = 2 ?>
    <Condition Message="!(loc.LaunchCondition)"><![CDATA[NOT Version9X AND VersionNT >= 500]]></Condition>
<?endif?>
    <Binary Id="CustomActions.dll" SourceFile="customact.dll" />
    <CustomAction Id="UpdateFeatureState" BinaryKey="CustomActions.dll" DllEntry="UpdateFeatureState" />
    <CustomAction Id="SaveShortcutProps" BinaryKey="CustomActions.dll" DllEntry="SaveShortcutProps" Return="ignore" />
    <CustomAction Id="RestoreShortcutProps" BinaryKey="CustomActions.dll" DllEntry="RestoreShortcutProps" Execute="deferred" Return="ignore" />
    <CustomAction Id="LaunchShortcut" BinaryKey="CustomActions.dll" DllEntry="LaunchShortcut" Return="ignore" />
    <CustomAction Id="LaunchApp" ExeCommand="" FileKey="Far.exe" Return="asyncNoWait" />
    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />
    <CustomAction Id="SetUserInstallScope" Property="InstallScope" Value="User" Execute="firstSequence" />
    <CustomAction Id="SetUserInstallDir" Property="INSTALLDIR" Value="[USERINSTALLDIR]" Execute="firstSequence" />
    <CustomAction Id="SetALLUSERS" Property="ALLUSERS" Value="" Execute="firstSequence" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFiles)">
        <Directory Id="INSTALLDIR" Name="$(var.DefMachineInstallDir)">
<?include files.wxi ?>
          <Component Id="InstallDir" Guid="$(var.Guid.InstallDir)" Win64="$(var.Win64)">
            <RegistryValue Root="HKMU" Key="Software\$(var.RegKey)" Name="InstallDir" Value="[INSTALLDIR]" Type="string" KeyPath="yes" />
          </Component>
<?if $(var.Platform) = x64 ?>
          <Component Id="InstallDir_x64" Guid="$(var.Guid.InstallDir_x64)" Win64="$(var.Win64)">
            <RegistryValue Root="HKMU" Key="Software\$(var.RegKey)" Name="InstallDir_x64" Value="[INSTALLDIR]" Type="string" KeyPath="yes" />
          </Component>
<?endif?>
          <Component Id="AppPaths" Guid="$(var.Guid.AppPaths)" Win64="$(var.Win64)">
            <RegistryKey Root="HKMU" Key="Software\Microsoft\Windows\CurrentVersion\App Paths\Far.exe">
              <RegistryValue Value="[#Far.exe]" Type="string" KeyPath="yes" />
              <RegistryValue Name="Path" Value="[INSTALLDIR]" Type="string" />
            </RegistryKey>
          </Component>
          <Component Id="FarHere" Guid="$(var.Guid.FarHere)" Win64="$(var.Win64)">
            <RegistryValue Root="HKCR" Key="Directory\shell\$(var.Product)" Value="$(var.Product) Here" Type="string" KeyPath="yes" />
            <RegistryValue Root="HKCR" Key="Directory\shell\$(var.Product)\command" Value="&quot;[#Far.exe]&quot; &quot;%1&quot;" Type="string" />
            <RegistryValue Root="HKCR" Key="Drive\shell\$(var.Product)" Value="$(var.Product) Here" Type="string" />
            <RegistryValue Root="HKCR" Key="Drive\shell\$(var.Product)\command" Value="&quot;[#Far.exe]&quot; &quot;%1&quot;" Type="string" />
          </Component>
<?if $(var.Platform) = x86 ?>
          <Component Id="FExceptReg" Guid="$(var.Guid.FExceptReg)" Win64="$(var.Win64)">
            <RegistryValue Root="HKCU" Key="Software\$(var.RegKey)\System\Exception" Name="Used" Value="1" Type="integer" KeyPath="yes" />
            <RegistryValue Root="HKCU" Key="Software\$(var.RegKey)\System\Exception" Name="FarEvent.svc" Value="FExcept\fexcept.dll" Type="string" />
          </Component>
          <Component Id="FStd_trap.log" Guid="$(var.Guid.FStd_trap.log)" Win64="$(var.Win64)">
            <RemoveFile Id="FStd_trap.log" Name="FStd_trap.log" On="uninstall" />
          </Component>
<?endif?>
          <Component Id="ClearPluginsCache" Guid="$(var.Guid.ClearPluginsCache)" Win64="$(var.Win64)">
            <RemoveRegistryKey Root="HKCU" Key="Software\$(var.RegKey)\PluginsCache" Action="removeOnInstall" />
          </Component>
        </Directory>
      </Directory>
<?include shortcuts.wxi ?>
    </Directory>
<?include features.wxi ?>
    <Upgrade Id="$(var.Guid.UpgradeCode)">
      <UpgradeVersion Property="PREVIOUSVERSIONSINSTALLED" MigrateFeatures="yes" Minimum="0.0.0" />
    </Upgrade>
    <InstallExecuteSequence>
      <Custom Action="SetUserInstallDir" Before="FindRelatedProducts">USERINSTALLDIR</Custom>
      <Custom Action="SetALLUSERS" Before="FindRelatedProducts">USERINSTALLDIR</Custom>
      <FindRelatedProducts After="AppSearch" />
      <Custom Action="UpdateFeatureState" Before="InstallValidate" />
      <Custom Action="SetARPINSTALLLOCATION" After="InstallValidate" />
      <Custom Action="SaveShortcutProps" Before="RestoreShortcutProps">NOT (REMOVE = "ALL")</Custom>
      <Custom Action="RestoreShortcutProps" After="CreateShortcuts">NOT (REMOVE = "ALL")</Custom>
      <RemoveExistingProducts After="InstallFinalize" />
      <Custom Action="LaunchShortcut" After="RemoveExistingProducts"><![CDATA[LAUNCHAPP AND NOT Installed AND UILevel < 5]]></Custom>
    </InstallExecuteSequence>
    <InstallUISequence>
      <LaunchConditions Before="AppSearch" />
      <Custom Action="SetUserInstallScope" After="LaunchConditions">NOT Privileged</Custom>
      <Custom Action="SetUserInstallDir" Before="FindRelatedProducts">USERINSTALLDIR</Custom>
      <Custom Action="SetALLUSERS" Before="FindRelatedProducts">USERINSTALLDIR</Custom>
      <FindRelatedProducts After="AppSearch" />
    </InstallUISequence>
    <UIRef Id="WixUI_Mod" />
    <Icon Id="Far.ico" SourceFile="rsrc\far.ico" />
  </Product>
</Wix>
