<?xml version="1.0" encoding="utf-8"?>
<?if $(var.Branch) = 1 ?>
  <?if $(var.Platform) = x86 ?>
    <?define Product = "Far Manager" ?>
  <?endif?>
  <?if $(var.Platform) = x64 ?>
    <?define Product = "Far Manager x64" ?>
  <?endif?>
<?endif?>
<?if $(var.Branch) = 2 ?>
  <?if $(var.Platform) = x86 ?>
    <?define Product = "Far Manager 2" ?>
  <?endif?>
  <?if $(var.Platform) = x64 ?>
    <?define Product = "Far Manager 2 x64" ?>
  <?endif?>
<?endif?>
<?define Manufacturer = "Eugene Roshal & FAR Group" ?>
<?if $(var.Platform) = x86 ?>
  <?define PFiles = "ProgramFilesFolder" ?>
  <?define Win64 = "no" ?>
<?endif?>
<?if $(var.Platform) = x64 ?>
  <?define PFiles = "ProgramFiles64Folder" ?>
  <?define Win64 = "yes" ?>
<?endif?>
<?if $(var.Branch) = 1 ?>
  <?define RegKey = "Far" ?>
  <?define DefInstallDir = "Far" ?>
<?endif?>
<?if $(var.Branch) = 2 ?>
  <?define RegKey = "Far2" ?>
  <?define DefInstallDir = "Far2" ?>
<?endif?>
<?include guids_$(var.Branch)_$(var.Platform).wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Language="1033" Codepage="1251" Name="$(var.Product)" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.Guid.UpgradeCode)">
    <Package Id="*" Platform="$(var.Platform)" Compressed="yes" Manufacturer="$(var.Manufacturer)" Description="$(var.Product) $(var.Version)" InstallerVersion="200" />
    <Property Id="INSTALLDIR">
      <RegistrySearch Id="InstallDir" Root="HKLM" Key="Software\$(var.RegKey)" Name="InstallDir" Type="raw" Win64="$(var.Win64)" />
    </Property>
    <Property Id="REINSTALLMODE" Value="amus" />
    <Property Id="ARPPRODUCTICON" Value="Far.ico" />
    <Media Id="1" Cabinet="far.cab" EmbedCab="yes" />
<?if $(var.Branch) = 2 ?>
    <Condition Message="$(var.Product) requires Windows 2000 or above."><![CDATA[NOT Version9X AND (VersionNT>=500)]]></Condition>
<?endif?>
    <Binary Id="CustomActions.dll" SourceFile="CustomActions.dll" />
    <CustomAction Id="UpdateFeatureState" BinaryKey="CustomActions.dll" DllEntry="UpdateFeatureState" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PFiles)">
        <Directory Id="INSTALLDIR" Name="$(var.DefInstallDir)">
<?include files.wxi ?>
          <Component Id="InstallDir" Guid="$(var.Guid.InstallDir)" Win64="$(var.Win64)">
            <RegistryValue Root="HKLM" Key="Software\$(var.RegKey)" Name="InstallDir" Value="[INSTALLDIR]" Type="string" KeyPath="yes" />
          </Component>
<?if $(var.Platform) = x86 ?>
          <Component Id="FExceptReg" Guid="$(var.Guid.FExceptReg)" Win64="$(var.Win64)">
            <RegistryValue Root="HKCU" Key="Software\$(var.RegKey)\System\Exception" Name="Used" Value="1" Type="integer" KeyPath="yes" />
            <RegistryValue Root="HKCU" Key="Software\$(var.RegKey)\System\Exception" Name="FarEvent.svc" Value="FExcept\fexcept.dll" Type="string" />
          </Component>
          <Component Id="FStd_trap.log" Guid="$(var.Guid.FStd_trap.log)" Win64="$(var.Win64)">
            <RemoveFile Id="FStd_trap.log" Name="FStd_trap.log" On="uninstall" />
          </Component>
<?endif?>
          <Component Id="ClearPluginsCache" Guid="$(var.Guid.ClearPluginsCache)" Win64="$(var.Win64)">
            <RemoveRegistryKey Root="HKCU" Key="Software\$(var.RegKey)\PluginsCache" Action="removeOnInstall" />
          </Component>
        </Directory>
      </Directory>
<?include shortcuts.wxi ?>
    </Directory>
<?include features.wxi ?>
    <Upgrade Id="$(var.Guid.UpgradeCode)">
      <UpgradeVersion Property="PREVIOUSVERSIONSINSTALLED" MigrateFeatures="yes" Minimum="0.0.0" />
    </Upgrade>
    <InstallExecuteSequence>
      <Custom Action="UpdateFeatureState" After="CostFinalize" />
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>
    <UIRef Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Icon Id="Far.ico" SourceFile="rsrc\far.ico" />
    <WixVariable Id="WixUILicenseRtf" Value="rsrc\license$(var.Branch).rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="rsrc\banner.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="rsrc\dialog.jpg" />
  </Product>
</Wix>
