<?xml version="1.0" encoding="utf-8"?>
<?include defines.wxi ?>
<?include guids_$(var.Branch)_$(var.Platform).wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.Product)">
          <Component Id="FarProgramsShortcut" Guid="$(var.Guid.FarProgramsShortcut)" Win64="$(var.Win64)">
            <Shortcut Id="FarProgramsShortcut" Name="$(var.Product)" Target="[#Far.exe]" WorkingDirectory="INSTALLDIR" Description="!(loc.ProductDescription)" />
          </Component>
          <Component Id="UninstallProduct" Guid="$(var.Guid.UninstallProduct)" Win64="$(var.Win64)">
            <Shortcut Id="UninstallProduct" Name="Uninstall" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
          </Component>
          <Directory Id="Scripts" Name="Scripts">
            <Component Id="Scripts" Guid="$(var.Guid.Scripts)" Win64="$(var.Win64)">
              <Shortcut Id="SaveSettings" Name="Save settings" Target="[#SaveSettings.cmd]" WorkingDirectory="INSTALLDIR" />
              <Shortcut Id="RestoreSettings" Name="Restore settings" Target="[#RestoreSettings.cmd]" WorkingDirectory="INSTALLDIR" />
              <Shortcut Id="ClearPluginsCache" Name="Clear plugins cache" Target="[#ClearPluginsCache.cmd]" WorkingDirectory="INSTALLDIR" />
            </Component>
          </Directory>
    <?if $(var.Branch) = 1 ?>
          <Component Id="EnglishEncShortcut" Guid="$(var.Guid.EnglishEncShortcut)" Win64="$(var.Win64)">
            <Shortcut Id="EnglishEncyclopediaShortcut" Name="English Encyclopedia" Target="[#FarEncyclopedia.en.chm]" />
          </Component>
    <?endif?>
          <Component Id="RussianEncShortcut" Guid="$(var.Guid.RussianEncShortcut)" Win64="$(var.Win64)">
            <Shortcut Id="RussianEncyclopediaShortcut" Name="Russian Encyclopedia" Target="[#FarEncyclopedia.ru.chm]" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder">
        <Component Id="FarDesktopShortcut" Guid="$(var.Guid.FarDesktopShortcut)" Win64="$(var.Win64)">
          <Shortcut Id="FarDesktopShortcut" Name="$(var.Product)" Target="[#Far.exe]" WorkingDirectory="INSTALLDIR" Description="!(loc.ProductDescription)" />
        </Component>
      </Directory>
      <Directory Id="StartMenuFolder">
        <Component Id="FarStartMenuShortcut" Guid="$(var.Guid.FarStartMenuShortcut)" Win64="$(var.Win64)">
          <Shortcut Id="FarStartMenuShortcut" Name="$(var.Product)" Target="[#Far.exe]" WorkingDirectory="INSTALLDIR" Description="!(loc.ProductDescription)" />
        </Component>
      </Directory>
      <Directory Id="AppDataFolder">
        <Directory Id="Microsoft" Name="Microsoft">
          <Directory Id="InternetExplorer" Name="Internet Explorer">
            <Directory Id="QuickLaunchFolder" Name="Quick Launch">
              <Component Id="FarQuickLaunchShortcut" Guid="$(var.Guid.FarQuickLaunchShortcut)" Win64="$(var.Win64)">
                <Shortcut Id="FarQuickLaunchShortcut" Name="$(var.Product)" Target="[#Far.exe]" WorkingDirectory="INSTALLDIR" Description="!(loc.ProductDescription)" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
