1 VERSIONINFO
FILEVERSION 1, 0, 0, 4
PRODUCTVERSION 1, 70, 4, 0
FILEOS 4
FILETYPE 2
{
 BLOCK "StringFileInfo"
 {
  BLOCK "000004E4"
  {
      VALUE "CompanyName",       "Eugene Roshal & FAR Group\000\000"
      VALUE "FileDescription",   "Draw lines for FAR Manager\0"
      VALUE "FileVersion",       "1.0 build 4\0"
      VALUE "InternalName",      "DrawLine\0"
      VALUE "LegalCopyright",    "Copyright © Eugene Roshal 1996-2000, Copyright © 2000-2004 FAR Group\0"
      VALUE "OriginalFilename",  "DRAWLINE.DLL\0"
      VALUE "ProductName",       "FAR Manager\0"
      VALUE "ProductVersion",    "1.70 beta 6\0"
  }

 }

 BLOCK "VarFileInfo"
 {
   VALUE "Translation", 0, 0x4e4
 }

}
