#include "farversion.hpp"

#define PLUGIN_BUILD 12
#define PLUGIN_DESC "Draw lines for FAR Manager"
#define PLUGIN_NAME "DrawLine"
#define PLUGIN_FILENAME "DrawLine.dll"

genericpluginrc(PLUGIN_BUILD, PLUGIN_DESC, PLUGIN_NAME, PLUGIN_FILENAME)
