#include "farversion.hpp"
1 VERSIONINFO
FILEVERSION 1, 70, 0, 5
PRODUCTVERSION FAR_MAJOR_VER, FAR_MINOR_VER, 0, FAR_BUILD
FILEOS 4
FILETYPE 2
{
 BLOCK "StringFileInfo"
 {
  BLOCK "000004E4"
  {
   VALUE "CompanyName", FARCOMPANYNAME
   VALUE "FileDescription", "Brackets matching for FAR Manager\000"
   VALUE "FileVersion", "1.70 build 5\000\000"
   VALUE "InternalName", "Brackets\000"
   VALUE "LegalCopyright", FARCOPYRIGHT
   VALUE "OriginalFilename", "Brackets.dll\000"
   VALUE "ProductName", FARPRODUCTNAME
   VALUE "ProductVersion", FARPRODUCTVERSION
  }

 }

 BLOCK "VarFileInfo"
 {
   VALUE "Translation", 0, 0x4e4
 }

}
