#include "farversion.hpp"
1 VERSIONINFO
FILEVERSION FAR_MAJOR_VER, FAR_MINOR_VER, 0, 4
PRODUCTVERSION FAR_MAJOR_VER, FAR_MINOR_VER, 0, FAR_BUILD
FILEOS 4
FILETYPE 2
{
 BLOCK "StringFileInfo"
 {
  BLOCK "000004E4"
  {
   VALUE "CompanyName", FARCOMPANYNAME
   VALUE "FileDescription", "Align block for FAR Manager\000"
   VALUE "FileVersion", "1.71 build 4\000\000"
   VALUE "InternalName", "Align\000"
   VALUE "LegalCopyright", FARCOPYRIGHT
   VALUE "OriginalFilename", "Align.dll\000"
   VALUE "ProductName", FARPRODUCTNAME
   VALUE "ProductVersion", FARPRODUCTVERSION
  }

 }

 BLOCK "VarFileInfo"
 {
   VALUE "Translation", 0, 0x4e4
 }

}
