#include "farversion.hpp"

#define PLUGIN_BUILD 12
#define PLUGIN_DESC "Align block for FAR Manager"
#define PLUGIN_NAME "Align"
#define PLUGIN_FILENAME "Align.dll"

genericpluginrc(PLUGIN_BUILD, PLUGIN_DESC, PLUGIN_NAME, PLUGIN_FILENAME)
