1 VERSIONINFO
FILEVERSION 1, 70, 0, 2
PRODUCTVERSION 1, 70, 0, 0
FILEOS 4
FILETYPE 2
{
 BLOCK "StringFileInfo"
 {
  BLOCK "000004E4"
  {
   VALUE "CompanyName", "Eugene Roshal & FAR Group\000\000"
   VALUE "FileDescription", "Align block for FAR Manager\000"
   VALUE "FileVersion", "1.70 build 2\000\000"
   VALUE "InternalName", "Align\000"
   VALUE "LegalCopyright", "Copyright © Eugene Roshal 1996-2000, Copyright © 2000-2006 FAR Group\000\000"
   VALUE "OriginalFilename", "Align.dll\000"
   VALUE "ProductName", "FAR manager\000"
   VALUE "ProductVersion", "1.70\000"
  }

 }

 BLOCK "VarFileInfo"
 {
   VALUE "Translation", 0, 0x4e4
 }

}
