#pragma code_page(65001)

#include "version.hpp"

#define PLUGIN_BUILD 1
#define PLUGIN_DESC "FTP IO Notify sub-plugin"
#define PLUGIN_NAME "ftpNotify"
#define PLUGIN_FILENAME "ftpNotify.fll"

#include <plugin_version.rc>
