#define VERSIONINFO_1   1

VERSIONINFO_1 VERSIONINFO
FILEVERSION 1, 7, 0, 0
PRODUCTVERSION 1, 7, 0, 0
FILEOS 4
FILETYPE 2 {
 BLOCK "StringFileInfo" {
  BLOCK "000004E4" {
   VALUE "CompanyName",      "Mag`n`Gla\000\000"
   VALUE "FileDescription",  "FTP IO Notify sub-plugin\000"
   VALUE "InternalName",     "ftpNotify\000"
   VALUE "LegalCopyright",   "Copyright © Eugene Roshal 1996-2000, Copyright © FAR Group ] 2000\000\000"
   VALUE "OriginalFilename", "ftpNotify.fll\000"
   VALUE "ProductVersion",   "FTP client for FAR Manager v1.6\000\000"

   VALUE "FileVersion",      "v1.0 build 07.05.2004\000\000"
   VALUE "Comments",         "Current developer: JouriM<at>uran.ru\000\000"
  }
 }
 BLOCK "VarFileInfo" {
  VALUE "Translation", 0, 0x4e4
 }
}
