#include <windows.h>

#pragma code_page(65001)

#include "plugin.hpp"

#define MAKE_STR(x) #x
#define STR(x) MAKE_STR(x)
#define VERSION_STRING(major, minor, build, revision) STR(major) "." STR(minor) "." STR(build) "." STR(revision)

#ifndef PLUGIN_MAJOR
#define PLUGIN_MAJOR FARMANAGERVERSION_MAJOR
#endif

#ifndef PLUGIN_MINOR
#define PLUGIN_MINOR FARMANAGERVERSION_MINOR
#endif

#ifndef PLUGIN_REVISION
#define PLUGIN_REVISION FARMANAGERVERSION_REVISION
#endif

#ifndef PLUGIN_COPYRIGHT_INITIAL
#define PLUGIN_COPYRIGHT_INITIAL "© Eugene Roshal, 1996-2000. "
#endif

#ifndef PLUGIN_COPYRIGHT_CURRENT_FROM
#define PLUGIN_COPYRIGHT_CURRENT_FROM 2000
#endif

// BUGBUG Automate
#define PLUGIN_COPYRIGHTYEAR 2021

#define PLUGIN_COPYRIGHT_CURRENT "© Far Group, " STR(PLUGIN_COPYRIGHT_CURRENT_FROM) "-" STR(PLUGIN_COPYRIGHTYEAR)

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS 0

#ifdef _DEBUG
| VS_FF_PRERELEASE | VS_FF_DEBUG
#endif

#if RC_PRERELEASE
| VS_FF_PRERELEASE
#endif

#if RC_SPECIAL
| VS_FF_SPECIALBUILD
#endif

#if RC_PRIVATE
| VS_FF_PRIVATEBUILD
#endif

FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_DLL


FILEVERSION PLUGIN_MAJOR, PLUGIN_MINOR, PLUGIN_BUILD, PLUGIN_REVISION
PRODUCTVERSION FARMANAGERVERSION_MAJOR, FARMANAGERVERSION_MINOR, FARMANAGERVERSION_BUILD, FARMANAGERVERSION_REVISION
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904B0"
		{
			VALUE "CompanyName", "Eugene Roshal & Far Group"
			VALUE "FileDescription", PLUGIN_DESC
			VALUE "FileVersion", VERSION_STRING(PLUGIN_MAJOR, PLUGIN_MINOR, PLUGIN_BUILD, PLUGIN_REVISION)
			VALUE "InternalName", PLUGIN_NAME
			VALUE "LegalCopyright", PLUGIN_COPYRIGHT_INITIAL PLUGIN_COPYRIGHT_CURRENT
			VALUE "OriginalFilename", PLUGIN_FILENAME
			VALUE "ProductName", "Far Manager"
			VALUE "ProductVersion", VERSION_STRING(FARMANAGERVERSION_MAJOR, FARMANAGERVERSION_MINOR, FARMANAGERVERSION_BUILD, FARMANAGERVERSION_REVISION)
#if RC_SPECIAL
			VALUE "SpecialBuild", RC_SPECIAL_STRING
#endif

#if RC_PRIVATE
			VALUE "PrivateBuild", "Unofficial private build"
#endif

#ifdef PLUGIN_GUID
			VALUE "PluginGUID", PLUGIN_GUID
#endif
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 1200
	}
}
