1 VERSIONINFO
 FILEVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x2L
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004E4"
        BEGIN
            VALUE "Comments", "Plugin for FAR Manager 1.7x\0"
            VALUE "FileDescription", "Shell Folders\0"
            VALUE "FileVersion", "1.0.0\0"
            VALUE "InternalName", "ShellFolders\0"
            VALUE "LegalCopyright", "Copyright © 2007, FAR Group\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0, 0x4e4
    END
END

