#include "farversion.hpp"

#define PLUGIN_BUILD 71
#define PLUGIN_DESC "FAR Commands Plugin for FAR Manager"
#define PLUGIN_NAME "FARCmds"
#define PLUGIN_FILENAME "FARCmds.dll"

genericpluginrc(PLUGIN_BUILD, PLUGIN_DESC, PLUGIN_NAME, PLUGIN_FILENAME)
