#include "farversion.hpp"

#define PLUGIN_BUILD 15
#define PLUGIN_DESC "File names case conversion for FAR Manager"
#define PLUGIN_NAME "FileCase"
#define PLUGIN_FILENAME "FileCase.dll"

genericpluginrc(PLUGIN_BUILD, PLUGIN_DESC, PLUGIN_NAME, PLUGIN_FILENAME)
