#define VERSIONINFO_1   1
VERSIONINFO_1 VERSIONINFO

FILEVERSION    1,0,0,5
PRODUCTVERSION 1,70,6,0
FILEFLAGSMASK  0x0
FILEFLAGS      0x0
FILEOS         VOS__WINDOWS32
FILETYPE       VFT_DLL
FILESUBTYPE    0x0

{
 BLOCK "StringFileInfo"
 {
  BLOCK "000004E4"
  {
      VALUE "CompanyName",       "Eugene Roshal & FAR Group\000\000"
      VALUE "FileDescription",   "File names case conversion for FAR Manager\0"
      VALUE "FileVersion",       "1.0 build 5\0"
      VALUE "InternalName",      "FileCase\0"
      VALUE "LegalCopyright",    "Copyright © Eugene Roshal 1996-2000, Copyright © 2000-2005 FAR Group\0"
      VALUE "OriginalFilename",  "FILECASE.DLL\0"
      VALUE "ProductName",       "FAR Manager\0"
      VALUE "ProductVersion",    "1.70 beta 6\0"
  }

 }

 BLOCK "VarFileInfo"
 {
   VALUE "Translation", 0, 0x4e4
 }

}
