#include "../common/farversion.hpp"
#define VERSIONINFO_1   1
VERSIONINFO_1 VERSIONINFO

FILEVERSION    1,70,0,6
PRODUCTVERSION FAR_MAJOR_VER, FAR_MINOR_VER, 0, FAR_BUILD
FILEFLAGSMASK  0x0
FILEFLAGS      0x0
FILEOS 4
FILETYPE 2
FILESUBTYPE    0x0

{
 BLOCK "StringFileInfo"
 {
  BLOCK "000004E4"
  {
      VALUE "CompanyName", FARCOMPANYNAME
      VALUE "FileDescription",   "File names case conversion for FAR Manager\0"
      VALUE "FileVersion",       "1.70 build 6\0"
      VALUE "InternalName",      "FileCase\0"
      VALUE "LegalCopyright", FARCOPYRIGHT
      VALUE "OriginalFilename",  "FILECASE.DLL\0"
      VALUE "ProductName", FARPRODUCTNAME
      VALUE "ProductVersion", FARPRODUCTVERSION
  }

 }

 BLOCK "VarFileInfo"
 {
   VALUE "Translation", 0, 0x4e4
 }

}
