#include "res.hpp"

#define VERSIONINFO_1   1
FAR_ICON ICON "far.ico"

VERSIONINFO_1 VERSIONINFO
FILEVERSION 1, 7, 0, 1
PRODUCTVERSION 1, 7, 0, 1
FILEOS 4
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "Eugene Roshal\000\000"
   VALUE "FileDescription", "File and archive manager\000\000"
   VALUE "FileVersion", "1.70 beta 1\000\000"
   VALUE "InternalName", "Far\000\000"
   VALUE "LegalCopyright", "© Eugene Roshal 1996-2000. © FAR Group. 2000 \000\000"
   VALUE "OriginalFilename", "Far.exe\000\000"
   VALUE "ProductName", "FAR manager\000\000"
  }
 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }
}

